@import "tailwindcss";

@source inline("btn-outline");
@source inline("table-pin-rows table-pin-cols");/*Classes for table*/
@source inline("btn btn-outline"); /* Classes for buttons */
@source inline("btn btn-dash btn-primary btn-circle"); /* Classes for buttons */
@source inline("checkbox checkbox-primary checkbox-secondary checkbox-lg"); /* Classes for checkbox*/
@source inline("hover hover:bg-base-300");/* Classes for dropdown menu*/
@source inline("alert alert-error shrink-0 stroke-current animate-pulse transition-all transition-shadow");/* Classes for alert*/
@source inline("tabs tabs-box tab-content"); /*Classes for tabs*/
@source inline("range range-accent");/*Classes for slider */
@source inline("transition-colors duration-600");/* classes for transition of theme*/
@source inline("stat stat-figure");/* classes for hardwire statistics*/
/*npx @tailwindcss/cli -i .\Assets\css\input.css -o .\wwwroot\css\output.css --watch */
/* daisyUI v5 */
@plugin "daisyui" {
    themes: light, dark --prefersdark, cupcake, emerald, dracula, luxury, coffee --default;
}

@layer utilities {
  .shake {
    animation: shake 0.4s ease;
  }

  @keyframes shake {
    0%,100% { transform: translateX(0); }
    20% { transform: translateX(-6px); }
    40% { transform: translateX(6px); }
    60% { transform: translateX(-6px); }
    80% { transform: translateX(6px); }
  }
}



